.my-main-photo{
    display:flex;
    justify-content: center;
}

.my-main-photo img{
    width :100%;
    height: 400px;
}

.photo-list{
    display:flex;
    flex-wrap: wrap;

}

.nonselected-image{
    width: 200px;
    margin: 2px;
    height: 100px;
    box-sizing: border-box;
}

.selected-image{
    width: 200px;
    margin: 2px;
    height: 100px;
    box-sizing: border-box;
    border: 2px solid orange;
}